@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Matheus Ulisses<br />
    Araraquara-SP<br/>
    Brazil<br/>
    <abbr title="Celular">Celular:</abbr>
    16 988079591
</address>

<address>
    <strong>Support:</strong>   <a href="">matheus.ulisses@gmail.com</a><br />
</address>